Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakTemplateDeclarations: false
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterClass: true
  AfterStruct: true
  AfterNamespace: true
  AfterEnum: true
  AfterUnion: true
SortIncludes: false